*{
 margin:0px;
 padding:0px;
}

section,aside,,artical,hgroup{
 display:block;
}
body{
 width:100%;
 display:-webkit-box;
 -webkit-box-pack:center;
 
 background-image:url("http://a2.qpic.cn/psb?/V12Ifn8s1OUDcs/myekUwZw7BMTABhnLV6n78OPTsCoqUeCQcVBblsLGDU!/b/dLyrnnaPEAAA&bo=ZABkAGQAZAABACc!&rf=viewer_4");
 background-repeat:repeat;

}
#big_wrapper{
 max-width:1280px;
 margin:0px;
 display:-webkit-box;
 -webkit-box-orient:vertical;
 -webkit-box-flex:1; 
}
#new_div{
 display:-webkit-box;
 -webkit-box-orient:horizontal;
}
#main_section{

 width:15%;
 padding:20px 0px;
 margin:0px;
 background:-webkit-linear-gradient(bottom,rgba(108,193,237,1),rgba(108,193,237,.6));
}
#side_news{
 -webkit-box-flex:1;
 margin:40px;
 padding:5px 
}
#one{

 margin:30px 5px;
 color:white;
 
}
#one p{
  line-height:25px;
}
#oneone{

 margin:60px 5px;
 color:white;
 
}
#oneone p{
   line-height:25px;
}
#two{
 
 margin:30px 5px;
}
#two h3 p{
  line-height:15px;
}
h2{
   color:#6cc1ed;
   font-family: 'Pacifico', cursive;   
}
h3{
    font-family:Arial, Tahoma, Verdana,;
    padding:0px 5px 10px 5px;
}
p{
    font-family: Arial, Grorgia,Tahoma;
}

#side_news p{
 padding:0px;
 margin:10px;
 color:#6cc1ed;
}
img {
    margin: 20% 15%; 
      
}
a{
  color:#6cc1ed;
 } 
  a:link {
    text-decoration: none;
}

  a:visited {
    text-decoration: none;
}

  a:hover {
    text-decoration: underline;
    color:#666666;
}

  a:active {
    text-decoration: underline;
}
em{
   color:#1b91ff;
}
span{
   color:#b7bfbf;
}
b{
   color:#666666;
}
.aboutme{
   color:#549cc2;
}
article img{
   margin:20% 5%;
   
}
hr{
  width:15%;
  border-top:1px dashed #b7bfbf;
}